<nav class="navbar navbar-dark bg-dark">
  
  <p class="text-left" style="color: white;">Welcome Sushil</p>
  <app-healthmode></app-healthmode>
  <link rel="icon" href="../favicon.ico" />
 
  <div class="container-fluid">
    <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <!--<div class="form-check form-switch d-grid gap-2 d-md-flex justify-content-md-end" style="padding-top: 15px; padding-right: 10px;color:white;" >
      <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"  (click)="mygrocery()">
      <label class="form-check-label" for="flexSwitchCheckDefault"><h3>Health Mode</h3></label>
    </div> 
     -->
  </div>
  
 

</nav>
<div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-dark p-4">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link text-lg-start p-3 mb-2 bg-success bg-gradient text-white" routerLink='/healthform'>Health Form</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-lg-start p-3 mb-2 bg-success text-white" routerLink='/healthcoin'>Health Coin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-lg-start p-3 mb-2 bg-success text-white" routerLink='/discount'>Discount</a>
      </li>    
    </ul>
  </div>
</div>