<div class="container-fluid">

    <div class="row mb-3 border-bottom pb-3">
        <div class="col-3">
            <img src="../../assets/image/oliveoil.jpeg" class="h-10px w-100 d-inline-blocks" alt="Olive oil" />
        </div>
        <div class="col-9">
            <div class="row">
                <div class="col-12">
                    <h3><a routerLink="/itemvalue/6" class="text-green">Bertolli Extra-Virgin Olive Oil, Original, 16.9
                            fl oz </a></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    $10.00 <s class="small text-muted">$230,00</s>
                </div>
                <div class="col-3">
                    <input type="text" class="form-control" value="1" readonly>
                </div>
                <div class="col-5">
                    <h4>$10.00</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h5>Olive Oil  </h5>
                </div>
            </div>
          
            <div class="row">
                <div class="m-t-sm">
                    <a href="#" class="text-muted"><i class="fa fa-gift"></i> Add health coins</a> | <a href="#" class="text-muted"><i class="fa fa-trash"></i> Remove item</a>
         
                </div>
            </div>

        </div>
    </div>
</div>
<div class="container-fluid">

    <div class="row mb-3 border-bottom pb-3">
        <div class="col-3">
            <img src="../../assets/image/psalt.jpeg" class="h-10px w-100 d-inline-blocks" alt="Pink Salt" />
        </div>
        <div class="col-9">
            <div class="row">
                <div class="col-12">
                    <h3><a routerLink="/itemvalue/9" class="text-green">Morton Himalayan Pink Salt, Coarse for Grilling,
                            Seasoning</a></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    $7.12 <s class="small text-muted">$230,00</s>
                </div>
                <div class="col-3">
                    <input type="text" class="form-control" value="1" readonly>
                </div>
                <div class="col-5">
                    <h4>$7.12</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h5>Pink Salt  </h5>
                </div>
            </div>
           
            <div class="row">
                <div class="m-t-sm">
                    <a href="#" class="text-muted"><i class="fa fa-gift"></i> Add health coins</a> | <a href="#" class="text-muted"><i class="fa fa-trash"></i> Remove item</a>
         
                </div>
            </div>

        </div>
    </div>
</div>
<div class="container-fluid">

    <div class="row mb-3 border-bottom pb-3">
        <div class="col-3">
            <img src="../../assets/image/honey.jpeg" class="h-10px w-100 d-inline-blocks" alt="Honey" />
        </div>
        <div class="col-9">
            <div class="row">
                <div class="col-12">
                    <h3><a routerLink="/itemvalue/3" class="text-green">Great Value Clover Raw Honey, 32 oz </a></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    $12.88<s class="small text-muted">$230,00</s>
                </div>
                <div class="col-3">
                    <input type="text" class="form-control" value="1" readonly>
                </div>
                <div class="col-5">
                    <h4>$12.88</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h5>Honey  </h5>
                </div>
            </div>
           
            <div class="row">
                <div class="m-t-sm">
                    <a href="#" class="text-muted"><i class="fa fa-gift"></i> Add health coins</a> | <a href="#" class="text-muted"><i class="fa fa-trash"></i> Remove item</a>
         
                </div>
            </div>

        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" style="background-color: rgb(212, 209, 209);">
            <h3 class="text-center">Your total savings this year : $50</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <br>
            <p class="text-center m-0 text-black">Your total bill:</p>
            <h5 class="text-center text-black">$30.00</h5>
        </div>
    </div>
    <div class="row" *ngIf="healthmode">
        <div ><button class="col-md-18 custombtn health d-grid gap-2 " (click)="showhideUtility()">50 health coins  </button> </div>
    </div>
    
<app-newcomp *ngIf="visible"></app-newcomp> 
    <br>
    <div class="row">
        <div class="col-md-12 custombtn paynow mb-5">Pay Now</div>
    </div>
</div>