<div class="form-body">
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <form class="requires-validation" novalidate>

                        <div class="col-md-12" style="background-color: rgb(212, 209, 209);">
                            
                            <h3 class="text-center" style="padding-top:3%; color: black;">Your total savings this year : $50</h3>
                            <br>
                            <br>
                        </div>

                        <div class="col-md-12">
                            <br>
                            <p class="text-center" style="color: black;">Your total bill.</p>
                           <h5 class="text-center" style="color: black;">$30.</h5>
                        </div>

                        <div class="col-md-12" style="background-color: #42a736;width:40%;margin-left: 30%;">
                            <h3 class="text-center" style="padding-top:8%;color:white;">Apply 50 health coins</h3>
                            <br>
                        </div>
                        <div class="col-md-12">
                            <br>
                            <h2 class="text-center" style="color:#42a736 ;">YAY</h2>
                            <p class="text-center">BILL AFTER REDEEM</p>
                            <h2 class="text-center" style="color:#42a736 ;">$27</h2>
                        </div>
                        <div class="col-md-12 d-md-flex justify-content-md-center" >
                            <button style="background-color: #42a736;color: white;">Pay Now</button>
                        </div>
                    </form>


                </div>
                
            </div>
        </div>
    </div>
</div>

